/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 17, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 21, ../sass/_reset.scss */
body {
  line-height: 1;
  font-size: 100px;
  color: #fff;
  font-family: sans-serif;
}

/* line 28, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: none;
}

/* line 43, ../sass/_reset.scss */
q:before, q:after {
  content: none;
}

/* line 48, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/style.scss */
#policeBox {
  max-width: 4.65em;
  margin: 20px auto;
  padding-left: 0.18em;
  opacity: 1;
}

/* line 11, ../sass/style.scss */
#frame {
  height: 6.68em;
}

/* line 16, ../sass/style.scss */
#doors::before {
  content: '';
  width: 0.50em;
  display: block;
  height: 7.74em;
  float: left;
  background: #145788;
  border: 0.010em solid #1066a8;
  border-left: 0.010em solid #1066a8;
  border-right: 0.050em solid #0c2d4c;
  border-bottom: none;
  margin-top: -0.96em;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
  position: relative;
  z-index: 1;
}
/* line 32, ../sass/style.scss */
#doors::after {
  content: '';
  width: 0.50em;
  display: block;
  height: 7.74em;
  float: left;
  background: #145788;
  border: 0.010em solid #1066a8;
  border-left: 0.010em solid #1066a8;
  border-right: 0.050em solid #0c2d4c;
  border-bottom: none;
  margin-top: -0.96em;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
  position: relative;
  z-index: 1;
  border-right: 0;
  border-left: 0.050em solid #0c2d4c;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
}

/* line 53, ../sass/style.scss */
.door {
  background: #0c4f83;
  display: block;
  width: 1.25em;
  float: left;
  border: 0.01em solid black;
  padding: 0.25em;
  padding-bottom: 0;
  -webkit-box-shadow: inset 0.02em 0 0.2em black;
  -moz-box-shadow: inset 0.02em 0 0.2em black;
  box-shadow: inset 0.02em 0 0.2em black;
}
/* line 62, ../sass/style.scss */
.door.right {
  -webkit-box-shadow: inset -0.02em 0 0.2em black;
  -moz-box-shadow: inset -0.02em 0 0.2em black;
  box-shadow: inset -0.02em 0 0.2em black;
  position: relative;
}
/* line 65, ../sass/style.scss */
.door.right::before {
  display: block;
  width: 0.10em;
  height: 6.8em;
  background: #0c4f83;
  z-index: 9;
  position: absolute;
  content: '';
  top: 0;
  left: -0.07em;
  border: 0.01em solid #1066a8;
  -webkit-box-shadow: 0 0 0.05em black;
  -moz-box-shadow: 0 0 0.05em black;
  box-shadow: 0 0 0.05em black;
}

/* Step 5: We add a narrow strip before the right door */
/* line 83, ../sass/style.scss */
.window {
  width: 100%;
  height: 1.38em;
  display: block;
  border: 0.01em solid #000;
  -webkit-box-shadow: 0 0.01em 0.05em 0 black;
  -moz-box-shadow: 0 0.01em 0.05em 0 black;
  box-shadow: 0 0.01em 0.05em 0 black;
  padding: 0.055em;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: 0.01em solid #fff;
}
/* line 94, ../sass/style.scss */
.window li {
  box-sizing: border-box;
  float: left;
  width: 0.34em;
  height: 0.60em;
  display: block;
  margin-left: 0.050em;
  margin-bottom: 0.050em;
  -webkit-box-shadow: inset 0 0.01em 0.045em black;
  -moz-box-shadow: inset 0 0.01em 0.045em black;
  box-shadow: inset 0 0.01em 0.045em black;
  background: #6e696f;
  border: 0.01em solid #fff;
}
/* line 105, ../sass/style.scss */
.window li:nth-child(1), .window li:nth-child(2), .window li:nth-child(3) {
  box-shadow: inset 0 0.010em 0.045em #000;
}
/* line 108, ../sass/style.scss */
.window li:nth-child(1), .window li:nth-child(2), .window li:nth-child(3), .window li:nth-child(5) {
  background: #444045;
}

/* line 114, ../sass/style.scss */
.panel {
  width: 100%;
  height: 1.38em;
  display: block;
  -webkit-box-shadow: 0 0 0.02em 0 black;
  -moz-box-shadow: 0 0 0.02em 0 black;
  box-shadow: 0 0 0.02em 0 black;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  -webkit-box-shadow: inset 0 0.02em 0.2em black;
  -moz-box-shadow: inset 0 0.02em 0.2em black;
  box-shadow: inset 0 0.02em 0.2em black;
  border-bottom: 0.010em solid #1066a8;
}
/* line 124, ../sass/style.scss */
.panel.notice {
  position: relative;
  box-shadow: 0 0.010em 0.010em #000;
  border-top: 0.010em solid #1066A8;
  border-bottom: none;
}

/* line 132, ../sass/style.scss */
.instructions {
  width: 1.1em;
  height: 1.2em;
  display: block;
  padding: 0.075em 0.050em 0;
  box-sizing: border-box;
  box-shadow: inset 0 0.020em 0.030em #000;
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  border-bottom: 0.010em solid #1066A8;
  color: #111;
  font-family: serif;
  overflow: hidden;
}
/* line 146, ../sass/style.scss */
.instructions h2 {
  font-size: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  text-align: center;
}
/* line 152, ../sass/style.scss */
.instructions h4 {
  font-size: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  text-align: center;
  font-size: 0.13em;
}

/* line 161, ../sass/style.scss */
.ie9 .instructions h4 {
  font-size: 0.11em;
}

/* line 166, ../sass/style.scss */
.instructions h3 {
  font-size: 0.14em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.4em;
}
/* line 171, ../sass/style.scss */
.instructions h3 small {
  display: block;
  font-size: 0.54em;
  margin-bottom: 0.1em;
}
/* line 177, ../sass/style.scss */
.instructions p {
  font-size: 0.07em;
  text-transform: uppercase;
  margin-bottom: 0.6em;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.2em;
}

/* line 187, ../sass/style.scss */
.window, .instructions {
  background-color: #dfe0d9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDFE0D9', endColorstr='#FFEFF0E8');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZlMGQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWZmMGU4Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #dfe0d9), color-stop(100%, #eff0e8));
  background-image: -webkit-radial-gradient(center, ellipse cover, #dfe0d9 0%, #eff0e8 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #dfe0d9 0%, #eff0e8 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #dfe0d9 0%, #eff0e8 100%);
  background-image: radial-gradient(center, ellipse cover, #dfe0d9 0%, #eff0e8 100%);
}

/* line 194, ../sass/style.scss */
#sign {
  background: #0c4f83;
  padding: 0.060em 0.3em;
  z-index: 10;
  position: relative;
  box-shadow: 0 0.040em 0.20em #000;
  border: 0.01em solid #1066a8;
  border-bottom: 0;
  -webkit-border-radius: 0.025em;
  -moz-border-radius: 0.025em;
  -ms-border-radius: 0.025em;
  -o-border-radius: 0.025em;
  border-radius: 0.025em;
  width: 4.1em;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-shadow: 0 0 0.3em #fff;
}
/* line 208, ../sass/style.scss */
#sign::before, #sign::after {
  width: 0.15em;
  display: block;
  background: #0c4f83;
  border: 0.01em solid #1066a8;
  border-width: 0.01em 0.01em 0;
  -webkit-border-radius: 0.025em 0 0 0.025em;
  -moz-border-radius: 0.025em 0 0 0.025em;
  -ms-border-radius: 0.025em 0 0 0.025em;
  -o-border-radius: 0.025em 0 0 0.025em;
  border-radius: 0.025em 0 0 0.025em;
  height: 0.6em;
  position: absolute;
  top: -0.010em;
  z-index: 11;
}
/* line 220, ../sass/style.scss */
#sign::before {
  left: -0.44em;
}
/* line 223, ../sass/style.scss */
#sign::after {
  right: -0.45em;
  -webkit-border-radius: 0 0.025em 0.025em 0;
  -moz-border-radius: 0 0.025em 0.025em 0;
  -ms-border-radius: 0 0.025em 0.025em 0;
  -o-border-radius: 0 0.025em 0.025em 0;
  border-radius: 0 0.025em 0.025em 0;
}
/* line 227, ../sass/style.scss */
#sign h2 {
  background: #091a45;
  color: #fff;
  font-size: 0.29em;
  font-weight: 100;
  text-transform: uppercase;
  padding: 0.30em;
  border: 0.040em solid #1066a8;
  -webkit-box-shadow: inset 0 0 0.5em 0 black;
  -moz-box-shadow: inset 0 0 0.5em 0 black;
  box-shadow: inset 0 0 0.5em 0 black;
  letter-spacing: 0.10em;
  overflow: hidden;
  height: 1em;
  text-align: center;
  width: 10em;
  margin: 0 auto;
}
/* line 242, ../sass/style.scss */
#sign h2 small {
  font-size: 0.4em;
  margin: 0 1em;
  width: auto;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.30em;
  font-weight: bold;
  line-height: 1.2em;
}

/* line 255, ../sass/style.scss */
#base {
  content: '';
  display: block;
  height: 0.25em;
  width: 5em;
  background: #0c4f83;
  content: '';
  margin-left: -0.17em;
  border-top: solid 0.010em #1066a8;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
  margin-top: 0.070em;
}

/* line 270, ../sass/style.scss */
.skirting {
  display: block;
  content: '';
  height: 0.6em;
  width: 4em;
  background: #0c4f83;
  margin: 0 auto;
  border: 0.010em solid #1066a8;
  position: relative;
  z-index: 1;
}
/* line 280, ../sass/style.scss */
.skirting::before, .skirting::after {
  content: '';
  display: block;
  width: 0.30em;
  height: 0.40em;
  border: 0.010em solid black;
  position: absolute;
  bottom: 0.23em;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
  background: #0c4f83;
  border: 0.010em solid #1066a8;
  border-right: 0.050em solid #0c2d4c;
}
/* line 293, ../sass/style.scss */
.skirting::before {
  left: -0.20em;
}
/* line 296, ../sass/style.scss */
.skirting::after {
  left: none;
  right: -0.20em;
  border-right: 0.010em solid #1066a8;
  border-left: 0.050em solid #0c2d4c;
}

/* line 304, ../sass/style.scss */
.roof {
  content: '';
  width: 0;
  height: 0;
  border-left: 2em solid rgba(255, 255, 255, 0);
  border-right: 2em solid rgba(255, 255, 255, 0);
  border-bottom: 0.30em solid #1066a8;
  margin-left: 0.32em;
  position: relative;
  margin-bottom: 0.14em;
}
/* line 314, ../sass/style.scss */
.roof::after {
  content: '';
  display: block;
  height: 0.25em;
  width: 4.025em;
  background: #df4800;
  position: absolute;
  left: -2em;
  bottom: -0.57em;
  background: #0c4f83;
  border: 0.01em solid #1066a8;
}

/* line 328, ../sass/style.scss */
.lamp {
  width: 0.45em;
  display: block;
  content: '';
  height: 0.65em;
  background: #fff;
  -webkit-border-radius: 0.05em;
  -moz-border-radius: 0.05em;
  -ms-border-radius: 0.05em;
  -o-border-radius: 0.05em;
  border-radius: 0.05em;
  position: relative;
  margin: 0 auto -0.050em;
  -webkit-box-shadow: 0 0 2em 0.5em white;
  -moz-box-shadow: 0 0 2em 0.5em white;
  box-shadow: 0 0 2em 0.5em white;
  border: 0.030em solid #1a77ba;
  z-index: 9;
  border-width: 0.030em 0.030em 0;
}
/* line 341, ../sass/style.scss */
.lamp::after {
  content: '';
  display: block;
  height: 0.15em;
  width: 0.60em;
  background: #1a77ba;
  position: absolute;
  bottom: -2;
  left: -0.08em;
  -webkit-border-radius: 0.05em 0.05em 0 0;
  -moz-border-radius: 0.05em 0.05em 0 0;
  -ms-border-radius: 0.05em 0.05em 0 0;
  -o-border-radius: 0.05em 0.05em 0 0;
  border-radius: 0.05em 0.05em 0 0;
  z-index: 9;
  border-top: 0.001em #fff;
}
/* line 354, ../sass/style.scss */
.lamp::before {
  content: '';
  position: absolute;
  top: -0.01em;
  left: -0.05em;
  background: #1a77ba;
  height: 0.07em;
  width: 0.55em;
  z-index: 9;
}

/* Step 5 - We add images for the door handle, lock and badge */
/* line 368, ../sass/style.scss */
.panel.notice::after {
  content: '';
  background: url("../img/tardisSprite.png") 0 -0.2em no-repeat;
  width: 0.20em;
  height: 0.20em;
  background-size: 0.20em;
  display: block;
  position: absolute;
  left: 1.22em;
  top: 1.40em;
}

/* line 380, ../sass/style.scss */
.badge {
  position: relative;
}
/* line 382, ../sass/style.scss */
.badge::before {
  content: '';
  background: url("../img/tardisSprite.png") 0 -1em no-repeat;
  width: 0.15em;
  height: 0.75em;
  background-size: 0.5em;
  display: block;
  position: absolute;
  left: -0.16em;
  top: 1.13em;
}
/* line 393, ../sass/style.scss */
.badge::after {
  content: '';
  background: url("../img/tardisSprite.png") no-repeat;
  width: 0.5em;
  height: 0.5em;
  background-size: 0.5em;
  display: block;
  position: absolute;
  left: 0.37em;
  top: 0.4em;
}
