/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 100px;
  color: #fff;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: none;
}

q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#policeBox {
  max-width: 4.65em;
  margin: 20px auto;
  padding-left: 0.18em;
  opacity: 1;
}

#frame {
  height: 6.68em;
}

#doors::before {
  content: "";
  width: 0.5em;
  display: block;
  height: 7.74em;
  float: left;
  background: #145788;
  border: 0.01em solid #1066a8;
  border-left: 0.01em solid #1066a8;
  border-right: 0.05em solid #0c2d4c;
  border-bottom: none;
  margin-top: -0.96em;
  border-radius: 0.05em 0.05em 0 0;
  position: relative;
  z-index: 1;
}
#doors::after {
  content: "";
  width: 0.5em;
  display: block;
  height: 7.74em;
  float: left;
  background: #145788;
  border: 0.01em solid #1066a8;
  border-bottom: none;
  margin-top: -0.96em;
  position: relative;
  z-index: 1;
  border-right: 0;
  border-left: 0.05em solid #0c2d4c;
  border-radius: 0.05em 0.05em 0 0;
}

.door {
  background: #0c4f83;
  display: block;
  width: 1.25em;
  float: left;
  border: 0.01em solid black;
  padding: 0.25em;
  padding-bottom: 0;
  box-shadow: inset 0.02em 0 0.2em #000;
}
.door.right {
  box-shadow: inset -0.02em 0 0.2em #000;
  position: relative;
}
.door.right::before {
  display: block;
  width: 0.1em;
  height: 6.8em;
  background: #0c4f83;
  z-index: 9;
  position: absolute;
  content: "";
  top: 0;
  left: -0.07em;
  border: 0.01em solid #1066a8;
  box-shadow: 0 0 0.05em #000;
}

/* Step 5: We add a narrow strip before the right door */
.window {
  width: 100%;
  height: 1.38em;
  display: block;
  box-shadow: 0 0.01em 0.05em 0 #000;
  padding: 0.055em;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: 0.01em solid #fff;
}
.window li {
  box-sizing: border-box;
  float: left;
  width: 0.34em;
  height: 0.6em;
  display: block;
  margin-left: 0.05em;
  margin-bottom: 0.05em;
  box-shadow: inset 0 0.01em 0.045em #000;
  background: #6e696f;
  border: 0.01em solid #fff;
}
.window li:nth-child(1), .window li:nth-child(2), .window li:nth-child(3) {
  box-shadow: inset 0 0.01em 0.045em #000;
}
.window li:nth-child(1), .window li:nth-child(2), .window li:nth-child(3), .window li:nth-child(5) {
  background: #444045;
}

.panel {
  width: 100%;
  height: 1.38em;
  display: block;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  box-shadow: inset 0 0.02em 0.2em #000;
  border-bottom: 0.01em solid #1066a8;
}
.panel.notice {
  position: relative;
  box-shadow: 0 0.01em 0.01em #000;
  border-top: 0.01em solid #1066a8;
  border-bottom: none;
}

.instructions {
  width: 1.1em;
  height: 1.2em;
  display: block;
  padding: 0.075em 0.05em 0;
  box-sizing: border-box;
  box-shadow: inset 0 0.02em 0.03em #000;
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  border-bottom: 0.01em solid #1066a8;
  color: #111;
  font-family: serif;
  overflow: hidden;
}
.instructions h2 {
  font-size: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  text-align: center;
}
.instructions h3 {
  font-size: 0.14em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.4em;
}
.instructions h3 small {
  display: block;
  font-size: 0.54em;
  margin-bottom: 0.1em;
}
.instructions h4 {
  text-transform: uppercase;
  margin-bottom: 0.4em;
  text-align: center;
  font-size: 0.13em;
}
.instructions p {
  font-size: 0.07em;
  text-transform: uppercase;
  margin-bottom: 0.6em;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.2em;
}

.ie9 .instructions h4 {
  font-size: 0.11em;
}

.window,
.instructions {
  background: radial-gradient(ellipse at center, rgb(223, 224, 217) 0%, rgb(239, 240, 232) 100%);
}

#sign {
  background: #0c4f83;
  padding: 0.06em 0.3em;
  z-index: 10;
  box-shadow: 0 0.04em 0.2em #000;
  border: 0.01em solid #1066a8;
  border-bottom: 0;
  border-radius: 0.025em;
  width: 4.1em;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-shadow: 0 0 0.3em #fff;
}
#sign::before, #sign::after {
  width: 0.15em;
  display: block;
  background: #0c4f83;
  border: 0.01em solid #1066a8;
  border-width: 0.01em 0.01em 0;
  border-radius: 0.025em 0 0 0.025em;
  height: 0.6em;
  position: absolute;
  top: -0.01em;
  z-index: 11;
}
#sign::before {
  left: -0.44em;
}
#sign::after {
  right: -0.45em;
  border-radius: 0 0.025em 0.025em 0;
}
#sign h2 {
  background: #091a45;
  color: #fff;
  font-size: 0.29em;
  font-weight: 100;
  text-transform: uppercase;
  padding: 0.3em;
  border: 0.04em solid #1066a8;
  box-shadow: inset 0 0 0.5em 0 #000;
  letter-spacing: 0.1em;
  overflow: hidden;
  height: 1em;
  text-align: center;
  width: 11em;
  margin: 0 auto;
  white-space: nowrap;
}
#sign h2 small {
  font-size: 0.4em;
  margin: 0 1em;
  width: auto;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.3em;
  font-weight: bold;
  line-height: 1.2em;
}

#base {
  display: block;
  height: 0.25em;
  width: 5em;
  background: #0c4f83;
  content: "";
  margin-left: -0.17em;
  border-top: solid 0.01em #1066a8;
  position: relative;
  z-index: 10;
  border-radius: 0.05em 0.05em 0 0;
  margin-top: 0.07em;
}

.skirting {
  display: block;
  content: "";
  height: 0.6em;
  width: 4em;
  background: #0c4f83;
  margin: 0 auto;
  border: 0.01em solid #1066a8;
  position: relative;
  z-index: 1;
}
.skirting::before, .skirting::after {
  content: "";
  display: block;
  width: 0.3em;
  height: 0.4em;
  position: absolute;
  bottom: 0.23em;
  border-radius: 0.05em 0.05em 0 0;
  background: #0c4f83;
  border: 0.01em solid #1066a8;
  border-right: 0.05em solid #0c2d4c;
}
.skirting::before {
  left: -0.2em;
}
.skirting::after {
  left: none;
  right: -0.2em;
  border-right: 0.01em solid #1066a8;
  border-left: 0.05em solid #0c2d4c;
}

.roof {
  content: "";
  width: 0;
  height: 0;
  border-left: 2em solid rgba(255, 255, 255, 0);
  border-right: 2em solid rgba(255, 255, 255, 0);
  border-bottom: 0.3em solid #1066a8;
  margin-left: 0.32em;
  position: relative;
  margin-bottom: 0.14em;
}
.roof::after {
  content: "";
  display: block;
  height: 0.25em;
  width: 4.025em;
  position: absolute;
  left: -2em;
  bottom: -0.57em;
  background: #0c4f83;
  border: 0.01em solid #1066a8;
}

.lamp {
  width: 0.45em;
  display: block;
  content: "";
  height: 0.65em;
  background: #fff;
  border-radius: 0.05em;
  position: relative;
  margin: 0 auto -0.05em;
  box-shadow: 0 0 2em 0.5em #fff;
  border: 0.03em solid #1a77ba;
  z-index: 9;
  border-width: 0.03em 0.03em 0;
}
.lamp::after {
  content: "";
  display: block;
  height: 0.15em;
  width: 0.6em;
  background: #1a77ba;
  position: absolute;
  bottom: -2;
  left: -0.08em;
  border-radius: 0.05em 0.05em 0 0;
  z-index: 9;
  border-top: 0.001em #fff;
}
.lamp::before {
  content: "";
  position: absolute;
  top: -0.01em;
  left: -0.05em;
  background: #1a77ba;
  height: 0.07em;
  width: 0.55em;
  z-index: 9;
}

/* Step 5 - We add images for the door handle, lock and badge */
.panel.notice::after {
  content: "";
  background: url("../img/tardisSprite.png") 0 -0.2em no-repeat;
  width: 0.2em;
  height: 0.2em;
  background-size: 0.2em;
  display: block;
  position: absolute;
  left: 1.22em;
  top: 1.4em;
}

.badge {
  position: relative;
}
.badge::before {
  content: "";
  background: url("../img/tardisSprite.png") 0 -1em no-repeat;
  width: 0.15em;
  height: 0.75em;
  background-size: 0.5em;
  display: block;
  position: absolute;
  left: -0.16em;
  top: 1.13em;
}
.badge::after {
  content: "";
  background: url("../img/tardisSprite.png") no-repeat;
  width: 0.5em;
  height: 0.5em;
  background-size: 0.5em;
  display: block;
  position: absolute;
  left: 0.37em;
  top: 0.4em;
}
